@using PetVertApp.Helpers;


@{
    ViewBag.Title = "Pet";





}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>Pet Vert </title>
    <script src="@Url.Content("~/Content/portal/vendors/jquery/dist/jquery.min.js")"></script>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/portal/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/portal/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.Content("Content/portal/vendors/nprogress/nprogress.css")" rel="stylesheet">
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/portal/vendors/iCheck/skins/flat/green.css")" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="@Url.Content("~/Content/portal/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")" rel="stylesheet">
    <!-- JQVMap -->
    <link href="@Url.Content("~/Content/portal/vendors/jqvmap/dist/jqvmap.min.css")" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="@Url.Content("~/Content/portal/vendors/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/portal/build/css/custom.min.css")" rel="stylesheet">
</head>

@{ 

    if (User.Identity.IsAuthenticated)
    {

        string useridentity = User.Identity.Name;

        UserHelper userhelper = new UserHelper();

        //  string usettype = userhelper.getuserdetails();

        var userdetails = userhelper.getuserdetails(useridentity);

 

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("DashBoard", "Account")" class="site_title"><i class="fa fa-paw"></i> <span>Pet Vert</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">

                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.Identity.Name</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">




                                    <li>
                                        <a href="@Url.Action("Dashboard", "Account")"><i class="fa fa-home"></i> Dashboard </a>

                                    </li>
                                
                               

                                
                                <!--Will made canregistertin-->
                           
                                @if (userdetails.usertype == "super")
                                {

                                    <li>
                                        <a><i class="fa fa-user"></i>User Admin<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action("Create", "Users")">Create User</a></li>
                                            <li><a href="@Url.Action("Index", "Users")">Users</a></li>

                                        </ul>
                                    </li>
                                }

                                <li>
                                    <a><i class="fa fa-user"></i>Clients<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Create", "Clients")">Add Client</a></li>
                                        <li><a href="@Url.Action("Index", "Clients")">Clients</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-user"></i>Pets<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                       
                                        <li><a href="@Url.Action("Index", "Pets")">Users</a></li>

                                    </ul>
                                </li>

                                







                            </ul>



                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">

                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("Logoff", "Account")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">

                                    <li><a href="@Url.Action("Logoff", "Account")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>

            <!-- page content -->
            @RenderBody()
            @RenderSection("Scripts", required: false)


            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">

                    Powered By <img src="~/Content/images/satchlogo.jpg" alt="Satch Logo" height="80" />
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/portal/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/portal/vendors/fastclick/lib/fastclick.js")"></script>
    <!-- NProgress -->
    <script src="@Url.Content("~/Content/portal/vendors/nprogress/nprogress.js")"></script>
    <!-- Chart.js -->
    <script src="@Url.Content("~/Content/portal/vendors/Chart.js/dist/Chart.min.js")"></script>
    <!-- gauge.js -->
    <script src="@Url.Content("~/Content/portal/vendors/gauge.js/dist/gauge.min.js")"></script>
    <!-- bootstrap-progressbar -->
    <script src="@Url.Content("~/Content/portal/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/Content/portal/vendors/iCheck/icheck.min.js")"></script>
    <!-- Skycons -->
    <script src="@Url.Content("~/Content/portal/vendors/skycons/skycons.js")"></script>
    <!-- Flot -->
    <script src="@Url.Content("~/Content/portal/vendors/Flot/jquery.flot.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/Flot/jquery.flot.pie.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/Flot/jquery.flot.time.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/Flot/jquery.flot.stack.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/Flot/jquery.flot.resize.js")"></script>
    <!-- Flot plugins -->
    <script src="@Url.Content("~/Content/portal/vendors/flot.orderbars/js/jquery.flot.orderBars.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/flot-spline/js/jquery.flot.spline.min.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/flot.curvedlines/curvedLines.js")"></script>
    <!-- DateJS -->
    <script src="@Url.Content("~/Content/portal/vendors/DateJS/build/date.js")"></script>
    <!-- JQVMap -->
    <script src="@Url.Content("~/Content/portal/vendors/jqvmap/dist/jquery.vmap.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/jqvmap/dist/maps/jquery.vmap.world.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js")"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="@Url.Content("~/Content/portal/vendors/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/portal/vendors/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <!-- Custom Theme Scripts -->
    <script src="@Url.Content("~/Content/portal//build/js/custom.min.js")"></script>

</body>

    }

}

</html>


