@model PetVertApp.Models.DashBoardViewmodel



@{
    ViewBag.Title = "DashBoard";
}

<style>
    .right_col {
        min-height: 1700px !important;
    }
</style>

<div class="right_col" role="main">

    <h1>DashBoard</h1>

    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Clients</span>
            <div class="count">@Html.DisplayFor(modelItem => modelItem.countclients)</div>
           
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Total Pets</span>
            <div class="count">@Html.DisplayFor(modelItem => modelItem.countpets)</div>
           
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Upcoming Revaccinations</span>
            <div class="count green">@Html.DisplayFor(modelItem => modelItem.upcomingrevaccinationstoday)</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Upcoming Redeworming</span>
            <div class="count">@Html.DisplayFor(modelItem => modelItem.upcomingredewormingtoday)</div>
         
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Number Of Treatments</span>
            <div class="count">@Html.DisplayFor(modelItem => modelItem.numberoftreatments)</div>

        </div>
      
    </div>



    <a href="@Url.Action("Create", "Clients")"  class="btn btn-info btn-lg" data-toggle="modal">Add Client</a>


    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addpet">Add Pet</button>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#treatpet">Treat Pet</button>



    <div id="treatpet" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Treat Pet</h2>

                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Details", "Clients", FormMethod.Get, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4> </h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                            <div class="form-group">
                                @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => m.id, Model.Clients)
                                    @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Next" class="btn btn-default" />
                                </div>
                            </div>
                        </div>


                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>





    <div id="addpet" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Add Pet</h2>
                   
                </div>
                <div class="modal-body">
                 @using (Html.BeginForm("Create", "Pets", FormMethod.Get, new { enctype = "multipart/form-data" }))
                        {
                        @Html.AntiForgeryToken()
                        
                        <div class="form-horizontal">
                            <h4> </h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       


                            <div class="form-group">
                                @Html.LabelFor(model => model.clientid, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => m.clientid, Model.Clients)
                                    @Html.ValidationMessageFor(model => model.clientid, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Next" class="btn btn-default" />
                                </div>
                            </div>
                        </div>


                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>







    </div>