@model PetVertApp.Models.Treatment

@{
    ViewBag.Title = "Details";
}

<style>
    .right_col {
        min-height: 1700px !important;
    }
</style>

<div class="right_col" role="main">




    <h2>Details</h2>

    
        <div>
            <h4>Treatment</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Pet.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pet.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.symptoms)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.symptoms)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Diagnosis)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Diagnosis)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DrugsAdministered)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DrugsAdministered)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Amount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Temperature)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Temperature)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.treatmenttype)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.treatmenttype)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.userid)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.userid)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDeleted)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DeletedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DeletedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpdatedOn)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

</div>