@model PetVertApp.Models.ClientsPetsListViewModel

@{
    ViewBag.Title = "Details";
}


<style>
    .right_col {
        min-height: 1700px !important;
    }
</style>

<div class="right_col" role="main">




  

    <div>
        <h4>Clients Info and Pets</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fullname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fullname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdbyuserfullname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdbyuserfullname)
            </dd>




        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <p>
        <a href="@Url.Action("Create", "Pets",new { clientid = Model.id })">Add Pet</a>

    </p>
    <br>
    <br>
    <h3>Select Pet To Treat</h3>


    @if (Model.Pets != null)
    {

        <table class="table">
            <tr>
                @*<th>
                   Client Name
                </th>*@
                <th>
                   Name
                </th>
                <th>
                  Gender
                </th>
                <th>
                   Age
                </th>
                <th>
                  Type
                </th>
                <th>
                   Breed
                </th>
                <th>
                   Color
                </th>
                <th>
                   Added On
                </th>
              
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model.Pets)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.client.fullname)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.breed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                   
                    <td>
                     
                       <a href="@Url.Action("Create", "Treatments",new {@id=item.id })">Treat Pet</a> ||
                       <a href="@Url.Action("Index", "Treatments",new {@id=item.id })">View Treatments</a>

                      
                    </td>
                </tr>
            }

        </table>

    }

</div>